zerowaste-qro.com, www.zerowaste-qro.com {
    # Laravel (Panel Admin)
    handle /zw-interno* {
        reverse_proxy admin:80
    }

    # FastAPI (Backend / API)
    handle_path /api* {
        reverse_proxy fast_api:6000
    }

    # FastAPI Docs y Redoc
    handle /zw-docs* {
        reverse_proxy fast_api:6000
    }
    handle /zw-openapi.json {
        reverse_proxy fast_api:6000
    }
    handle /zw-redoc* {
        reverse_proxy fast_api:6000
    }

    # Flask (Resto del sitio - Página Principal)
    handle {
        reverse_proxy cliente:5000
    }
}
